name: Backend Build and Run

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Restore dependencies
      run: dotnet restore Backend.csproj
      working-directory: ./Backend
      
    - name: Build Backend
      run: dotnet build Backend.csproj --no-restore --configuration Release
      working-directory: ./Backend
      
    - name: Verify App Can Run
      run: dotnet run --no-build -c Release --project Backend.csproj
      working-directory: ./Backend

